.air_badge {
    position: relative;
    top: 0;
    left: 0;
    line-height: 68rpx;
    background-color: #e0e0e0;
    box-sizing: border-box;
    .badge {
        position: absolute;
        padding: 0 10rpx;
        height: 32rpx;
        line-height: 32rpx;
        top: -10rpx;
        // right: -10rpx;
        border-radius: 32rpx;
        font-size: 20rpx;
        text-align: center;
    }
}

